@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #880912;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

header a{
    text-decoration: none;
    color: rgb(243, 237, 237);
    font-size: 80px;
}

.container-fluid{
    background-color: #880912;
}

